
  <div class="sidebar-module sidebar-module-inset">
    <h4>Contact</h4>
    <p>
      phone:
      <br>
      712-263-3313
      <br>
      <br>
      address:
      <br>
      109 S Main St, Denison, IA 51442
      <br>

    </p>
  </div>
  <div class="sidebar-module">
    <%= render "maps/maps" %>
  </div>
  <div class="sidebar-module">
    <h4>Refund Status</h4>
    <ol class="list-unstyled">
      <li><a href="http://www.irs.gov/Refunds">Federal - IRS</a></li>
      <li><a href="https://ndr-refundstatus.ne.gov/refundstatus/public/search.faces">Nebraska</a></li>
      <li><a href="https://www.idr.iowa.gov/wheresmyrefund/">Iowa</a></li>
      <li>
        <div class="btn-group">
          <button type="button" class="btn taxes-button dropdown-toggle" data-toggle="dropdown">Refund Status <span class="caret"></span></button>
          <ul class="dropdown-menu scrollable-menu" role="menu">
            <li><a href="http://www.ador.state.al.us/" >Alabama</a> </li>
          </ul>
        </div>
      </li>

    </ol>

  </div>
  <div class="sidebar-module">
    <h4>IRS Information</h4>
    <ol class="list-unstyled">
      <li><a href="http://www.irs.gov/">IRS Homepage</a></li>
      <li><a href="http://www.irs.gov/uac/Latest-News">IRS News</a></li>
      <li><a href="http://www.irs.gov/Forms-&-Pubs">IRS Forms</a></li>
      <li><a href="http://www.irs.gov/Businesses/Small-Businesses-&-Self-Employed/Self-Employed-Individuals-Tax-Center">IRS Self-Employment</a></li>
      <li><a href="http://www.irs.gov/Individuals/General-ITIN-Information">ITIN Numbers</a></li>
      <li><a href="http://www.irs.gov/Spanish/">IRS en Espa&ntildeol</a></li>

    </ol>
  </div>
  <div class="sidebar-module">
    <h4>Iowa Tax Information</h4>
    <ol class="list-unstyled">
      <li><a href="https://tax.iowa.gov/">Iowa Department of Revenue</a></li>
      <li><a href="http://www.revenue.nebraska.gov/index.html">Nebraska Department of Revenue</a></li>
      <li>
          <div class="btn-group">
            <button type="button" class="btn taxes-button dropdown-toggle" data-toggle="dropdown">Visit your State's Tax Authority <span class="caret"></span></button>
            <ul class="dropdown-menu scrollable-menu" role="menu">
              <li><a href="http://www.ador.state.al.us/" >Alabama</a> </li>
              <li><a href="http://www.revenue.state.ak.us/" >Alaska</a>  </li>
              <li><a href="http://www.revenue.state.az.us/" >Arizona</a>  </li>
              <li><a href="http://www.state.ar.us/dfa/" >Arkansas</a> </li>
              <li><a href="http://www.ftb.ca.gov/" >California</a>  </li>
              <li><a href="http://www.taxcolorado.com/" >Colorado</a>  </li>
              <li><a href="http://www.ct.gov/drs/site/default.asp" >Connecticut</a> </li>
              <li><a href="http://www.state.de.us/revenue/" >Delaware</a> </li>
              <li><a href="http://dor.myflorida.com/dor/" >Florida</a>  </li>
              <li><a href="http://www.etax.dor.ga.gov/" >Georgia</a>  </li>
              <li><a href="http://www.state.hi.us/tax/tax.html" >Hawaii</a> </li>
              <li><a href="http://tax.idaho.gov/index.html" >Idaho</a> </li>
              <li><a href="http://www.revenue.state.il.us/" >Illinois</a> </li>
              <li><a href="http://www.in.gov/dor/" >Indiana</a> </li>
              <li><a href="http://www.state.ia.us/tax/index.html" >Iowa</a> </li>
              <li><a href="http://www.ksrevenue.org/" >Kansas</a> </li>
              <li><a href="http://revenue.ky.gov/" >Kentucky</a>  </li>
              <li><a href="http://www.rev.state.la.us/" >Louisiana</a>  </li>
              <li><a href="http://www.state.me.us/revenue" >Maine</a>  </li>
              <li><a href="http://www.comp.state.md.us/default.asp" >Maryland</a> </li>
              <li><a href="http://www.dor.state.ma.us/" >Massachusetts</a>  </li>
              <li><a href="http://www.michigan.gov/treasury" >Michigan</a> </li>
              <li><a href="http://www.taxes.state.mn.us/" >Minnesota</a>  </li>
              <li><a href="http://www.mstc.state.ms.us/" >Mississippi</a> </li>
              <li><a href="http://www.dor.mo.gov/index.htm" >Missouri</a> </li>
              <li><a href="http://www.discoveringmontana.com/revenue/default.asp" >Montana</a>  </li>
              <li><a href="http://www.revenue.state.ne.us/index.html" >Nebraska</a>  </li>
              <li><a href="http://tax.state.nv.us/" >Nevada</a> </li>
              <li><a href="http://www.state.nh.us/revenue/index.htm" >New Hampshire</a>  </li>
              <li><a href="http://www.state.nj.us/treasury/taxation/" >New Jersey</a>  </li>
              <li><a href="http://www.tax.newmexico.gov/" >New Mexico</a> </li>
              <li><a href="http://www.tax.ny.gov/" >New York</a>  </li>
              <li><a href="http://www.dor.state.nc.us/" >North Carolina</a>  </li>
              <li><a href="http://www.nd.gov/tax/" >North Dakota</a>  </li>
              <li><a href="http://tax.ohio.gov/" >Ohio</a>  </li>
              <li><a href="http://www.oktax.state.ok.us/" >Oklahoma</a>  </li>
              <li><a href="http://www.oregon.gov/DOR/" >Oregon</a>  </li>
              <li><a href="http://www.revenue.state.pa.us/" >Pennsylvania</a>  </li>
              <li><a href="http://www.tax.ri.gov/" >Rhode Island</a>  </li>
              <li><a href="http://www.sctax.org/" >South Carolina</a>  </li>
              <li><a href="http://www.state.sd.us/drr2/Revenue.html" >South Dakota</a>  </li>
              <li><a href="http://www.state.tn.us/revenue/" >Tennessee</a> </li>
              <li><a href="http://www.window.state.tx.us/m23taxes.html" >Texas</a> </li>
              <li><a href="http://revenue.state.wy.us/" >Wyoming</a></li>
              <li><a href="http://tax.utah.gov/" >Utah</a></li>
              <li><a href="http://www.state.vt.us/tax/" >Vermont</a> </li>
              <li><a href="http://www.tax.virginia.gov/" >Virginia</a>  </li>
              <li><a href="http://dor.wa.gov/" >Washington</a>  </li>
              <li><a href="http://cfo.dc.gov/otr/site/default.asp" >Washington D.C.</a> </li>
              <li><a href="http://www.wvrevenue.gov/" >West Virginia</a>  </li>
              <li><a href="http://www.revenue.wi.gov/" >Wisconsin</a>  </li>
            </ul>
          </div>
      </li>

    </ol>
  </div>
