<div class="col-xs-3 ">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Contact</h4>
    <p>
      phone: 712-263-3313
      <br>
      address: Denison, IA
    </p>
  </div>
  <div class="sidebar-module">
    <h4>IRS Information</h4>
    <ol class="list-unstyled">
      <li><a href="http://www.irs.gov/">IRS Homepage</a></li>


    </ol>
  </div>
  <div class="sidebar-module">
    <h4>Iowa Tax Information</h4>
    <ol class="list-unstyled">
      <li><a href="https://tax.iowa.gov/">Iowa Department of Revenue</a></li>

    </ol>
  </div>
</div><!-- /.sidebar -->