<h3 class="taxes-centered">Our Privacy Policy!</h3>

<p>At 48TH STREET INCOME TAX SERVICE  protecting your privacy is very
  important. We make sure that any information you divulge to us maintains
  its integrity. This information can come from your tax organizer, worksheets,
  documents and in-person interviews and discussions.

  <br>
  <br>

  Our policy on maintaining your privacy is outlined below. Please take a
  few moments to read it and if you have any questions or concerns, please
  <a>contact us</a>.

  <br>
  <br>

  48TH STREET INCOME TAX SERVICE  collects and retains personal information
  you provide us to calculate your income tax return and other services we provide.
  The information we collect and retain is:

  <br>
  <br>

<ul>

    <li>Name</li>
    <li>Address</li>
    <li>Phone</li>
    <li>Email</li>
    <li>Social Security Number</li>
    <li>Date of Birth</li>
    <li>Filing Status</li>
    <li>Name of Spouse and/or Dependents</li>
    <li>Social Security Number of Spouse and/or Dependents</li>
    <li>Date of Birth of Spouse and/or Dependents</li>
    <li>W-2 Information for you and/or Spouse</li>
    <li>W-2G Information for you and/or Spouse</li>
    <li>And any other information that might be pertinent for the services we provide</li>

</ul>

<br>

  48TH STREET INCOME TAX SERVICE  will not sell or share any of your information with any nonaffiliated third party entities.
We are required to keep this information confidential and to not disclose it to third parties unless we have your written approval or
are required/permitted to disclose it by law. we are committed to the safe-keeping of your confidential information, and maintain physical,
electronic and procedural safeguards to protect your information.
</p>
