<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Hi, this is a contact form! </h3>
<p>
  Name:
  <br>
  <%= @name%>
  <br>
  <br>
  Email:
  <br>
  <%= @email%>
  <br>
  <br>
  Phone:
  <br>
  <%= @phone%>
  <br>
  <br>
  Question:
  <br>
  <%= @question%>
  <br>
</p>
</body>
</html>