

<h3 class="taxes-centered">What is an ITIN?</h3>

<p>
  An Individual Taxpayer Identification Number (ITIN) is a
  tax processing number issued by the Internal Revenue Service.
  It is a nine-digit number that always begins with the number 9 and has a
  range of 70-88 in the fourth and fifth digit. Effective April 12, 2011,
  the range was extended to include 900-70-0000 through 999-88-9999, 900-90-0000
  through 999-92-9999 and 900-94-0000 through 999-99-9999. IRS issues ITINs to
  individuals who are required to have a U.S. taxpayer identification number
  but who do not have, and are not eligible to obtain a Social Security Number (SSN)
  from the Social Security Administration (SSA).
</p>

<br>
<br>

<p>
  ITINs are issued regardless of immigration status because both
  resident and nonresident aliens may have a U.S. filing or reporting
  requirement under the Internal Revenue Code.
</p>

<br>
<br>

<p>
  Individuals must have a filing requirement
  and file a valid federal income tax return to
  receive an ITIN, unless they meet an exception.
</p>

<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4>What is an ITIN used for?</h4>
  </div>
  <div class="panel-body">
    <p>
      ITINs are for federal tax reporting only, and are not intended to serve
      any other purpose. IRS issues ITINs to help individuals comply
      with the U.S. tax laws, and to provide a means to efficiently process
      and account for tax returns and payments for those not eligible
      for Social Security Numbers (SSNs).
    </p>
    <br>
    <br>
    <p>
      An ITIN does not authorize work in the U.S. or
      provide eligibility for Social Security benefits or the Earned Income Tax Credit.
    </p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4>Who needs an ITIN?</h4>
  </div>
  <div class="panel-body">
    <p>
      IRS issues ITINs to foreign nationals and others who have federal
      tax reporting or filing requirements and do not qualify for SSNs.
      A non-resident alien individual not eligible for a SSN who is
      required to file a U.S. tax return only to claim a refund of tax
      under the provisions of a U.S. tax treaty needs an ITIN.
    </p>
    <br>
    <br>
    <h5>Other examples of individuals who need ITINs include:</h5>
    <ul>
      <li>A nonresident alien required to file a U.S. tax return</li>
      <li>A U.S. resident alien (based on days present in the United States) filing a U.S. tax return</li>
      <li>A dependent or spouse of a U.S. citizen/resident alien</li>
      <li>A dependent or spouse of a nonresident alien visa holder</li>

    </ul>

  </div>
</div>

<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4>How do I know if I need an ITIN?</h4>
  </div>
  <div class="panel-body">
    <p>
      If you do not have a SSN and are not eligible to obtain a SSN, but you have a requirement to furnish a
      federal tax identification number or file a federal income tax return, you must apply for an ITIN.
    </p>
    <br>
    <br>
    <p>
      If you have an application for a SSN pending, do not file Form W-7. Complete
      Form W-7 only if the Social Security Administration (SSA) notifies you that a SSN cannot be issued.
    </p>
    <br>
    <br>
    <p>
      To obtain a SSN, see Form SS-5, Application for a Social Security Card. To get
      Form SS-5 or to find out if you are eligible to
      obtain a SSN, go to Social Security Administration or contact a
      SSA office. By law, an alien individual cannot have both an ITIN and a SSN.
    </p>
    <br>
    <br>
    <p>
      IRS processes returns showing SSNs or ITINs in the blanks where tax forms request SSNs.
      IRS no longer accepts, and will not process, forms showing "SSA", 205c", "applied for", "NRA",& blanks, etc
    </p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4>How do I apply for an ITIN?</h4>
  </div>
  <div class="panel-body">
    <p>
      To apply, attach a valid federal income tax return,
      unless you qualify for an exception, and include
      your original proof of identity or copies certified by
      issuing agency and foreign status documents.
    </p>
    <br>
    <br>
    <p>
      Because you are filing your tax return as an attachment to your ITIN
      application, you should not mail your return to the address
      listed in the Form 1040, 1040A or 1040EZ instructions. Instead, send your return to:
    </p>
    <br>
    <br>
    <p>
    Internal Revenue Service
      <br>
    Austin Service Center
      <br>
    ITIN Operation
      <br>
    P.O. Box 149342
      <br>
    Austin, TX 78714-9342
    </p>

    <br>
    <br>

    <p>
      You may also apply using the services of an IRS-authorized Acceptance Agent.
    </p>

  </div>
</div>

<div class="panel ">
  <div class="panel-heading">
    <h4>When should I apply for an ITIN?</h4>
  </div>
  <div class="panel-body">
    <p>
      You should complete Form W-7 as soon as you are ready to
      file your federal income tax return, since you need to attach the return to your application.
    </p>
    <br>
    <br>
    <p>
      If you meet one of the exceptions to the tax filing requirement,
      submit Form W-7, along with the documents that prove your
      identity and foreign status. You are also required to include
      supplemental documents to substantiate your qualification for the
      exception, as soon as possible after you determine that you are
      covered by that exception.
    </p>

    <br>
    <br>

    <p>
      You can apply for an ITIN any time during the year.
      However, if the tax return you attach to Form W-7 is filed after
      the return's due date, you may owe interest and/or penalties.
      You should file your current year return by the prescribed due
      date to avoid this situation.
    </p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4>Where can I get help with my ITIN application?</h4>
  </div>
  <div class="panel-body">
    <p>
      You can call our office at 712-263-3313
    </p>
    <br>
    <br>
    <p>
      Assistance is also available  to provide in-person help with ITIN applications on a
      walk-in or appointment basis. You may also use the services of an IRS-authorized Acceptance Agent.
    </p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4>How and when can I expect to receive my ITIN?</h4>
  </div>
  <div class="panel-body">
    <p>
      If you qualify for an ITIN and your application is
      complete, you will receive a letter from the IRS
      assigning your tax identification number usually within seven weeks.
      If you have not received your ITIN or other correspondence seven
      weeks after applying, call the IRS toll-free number at 1-800-829-1040
      to request the status of your application.
    </p>
  </div>
</div>
<hr>