
<form role="form">
  <div class="form-group">
    <label for="text">First Name</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="text">Last Name</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="phone">Email:</label>
    <input type="text" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="">Phone:</label>
    <input type="text" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="sel1">Preferred form of Contact (select one):</label>
    <select class="form-control" id="sel1">
      <option>e-mail</option>
      <option>phone</option>
      <option>either phone or email</option>
    </select>
  </div>
  <div class="checkbox">
    <label><input type="checkbox">Would prefer Spanish</label>
  </div>
  <div class="form-group">
    <label for="question">Question/Reason for Inquiry</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>