<h3 class="taxes-centered">Employee Application</h3>

<p>Apply to join our team of professionals serving Denison and surrounding
areas with Maximum refund for all clients</p>

<%= render 'application_form' %>