<h3 class="taxes-centered">Employee Application</h3>

<p>
<%=EmployeeApplicationHelper.send(ApplicationHelper.get_language_tag + "employee_application_para").html_safe %>
</p>

<%= render 'application_form' %>