
<hr>
<h3 class="taxes-centered"><%= ApplicationHelper.send(ApplicationHelper.get_language_tag + "photo_gallery").html_safe %></h3>
<hr>

	<div class="row">
		<div class="col-lg-12 taxes-centered taxes-centered-image">
			<img class="img-responsive img-rounded" src="/assets/income_taxes_books_denison_iowa.JPG">
		</div>

	</div>
	<br>

		<div class="row">
		<div class="col-lg-12 taxes-centered taxes-centered-image">
			<img class="img-responsive img-rounded" src="/assets/income_taxes_certificates_denison_iowa.JPG">
		</div>

	</div>

	<br>

		<div class="row">
		<div class="col-lg-12 taxes-centered taxes-centered-image">
			<img class="img-responsive img-rounded" src="/assets/income_taxes_front_desk_denison_iowa.JPG">
		</div>

	</div>

		<br>

		<div class="row">
		<div class="col-lg-12 taxes-centered taxes-centered-image">
			<img class="img-responsive img-rounded" src="/assets/income_taxes_office_denison_iowa.JPG">
		</div>

	</div>

		<br>

			<div class="row">
		<div class="col-lg-12 taxes-centered taxes-centered-image">
			<img class="img-responsive img-rounded" src="/assets/income_taxes_walk_in_denison_iowa.JPG">
		</div>

	</div>


	
	<br>
	<br>
<hr>
<br>
<hr>
<br>
