<h3 class="taxes-centered"><%= LocationHelper.send(ApplicationHelper.get_language_tag + "location").html_safe %></h3>
<hr>
<p>

  <%= LocationHelper.send(ApplicationHelper.get_language_tag + "location_para").html_safe %>
</p>

  <br>
  <br>

<div class=" taxes-centered">
  <img src="assets/48thstreet_frontview.jpg" class="img-rounded img-responsive taxes-centered-image">
</div>

<br>
<br>

<div class="hidden-sm hidden-xs taxes-centered">
  <%= render 'maps/maps_large' %>
  <br>
  <br>
</div>



<div class="taxes-centered">
  <img src="assets/together.jpg" class="img-rounded img-responsive taxes-centered-image">

</div>


