<h3 class="taxes-centered">LOCATION AND OFFICE HOURS!</h3>
<hr>
<p>
  48TH STREET INCOME TAX SERVICE  appreciates your business! We are here to serve our clients with friendly and professional service.

  <br>
  <br>

  Our office hours:
  <br>
  During tax season, January 15th through April 30th, our office is open Monday through Friday 9:00a.m. to 7:30 p.m.,
  Saturday 9:00a.m. to 6:00p.m. Additionally, 48TH STREET INCOME TAZ SERVICE  maintains year-round help after tax season,
  no  appointments needed, for your convenience.
  Call today (712)263-3313 to make your appointment!

  <br>
  <br>

  Our business address is:
  <br>
  109 S Main St
  <br>
  Denison, IA 51442


</p>
