
/*
 *= require font-awesome
 *= require bootstrap
 *= require_self
 *= require jquery-ui/datepicker
 *= require bootstrap-theme.css
 */


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


.taxes-content{
  padding-top: 90px;
}


.navbar-nav > li > a{
  padding-top: 4px !important;
  padding-bottom: 0 !important;
  height: 35px;

  padding: 10px;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar-nav > li > a:hover{
  color: #000000;
}
.navbar{
  min-height: 40px !important;
  background-color: #324C7F;

}


/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #324C7F;
  color: #ffffff;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.taxes-centered{
  text-align: center;

}
.taxes-centered p{
  text-align: center;
}

.taxes-centered-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}




.taxes-jumbotron{
  background-color: #324C7F;
}

.taxes-jumbotron h1, .taxes-jumbotron h2, .taxes-jumbotron h3, .taxes-jumbotron h4, .taxes-jumbotron h5{
  color: #ffffff;
}
.taxes-jumbotron p{
  color: #ffffff;

}

.right-aligned{
  text-align: right;
}

.taxes-button{
  color: #ffffff;
  background-color: #5C85AD;
}

.panel-heading{
  color: #ffffff;
  background-color: #324C7F;
}

.icon-bar{
  background-color: #ffffff;
}

.taxes-stacked{
  padding-top: 20px;
}


.taxes-caption-text{
  padding-left: 10px;
}

.taxes-spaced{
  padding: 10px;
}
.taxes-spaced li{
  padding: 10px;
}

.taxes-small{
  font-size: .7em;
}
.taxes-highlight-alt{
  color: #FF6600;
}
.taxes-highlight{
  color: #324C7F;
}

.taxes-warning{
  color: #E61616;
}

li.even{
  color: rgb(80,50,120);
}
body{
  font-size: 150%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous', Georgia, Times, serif;
  text-transform: uppercase;
}
p, div,a {
  font-family: 'Droid Sans' Helvetica, Arial, sans-serif;
  font-size: 1.05em;
}

p{
  text-align: justify;
}
